* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center; 
}

.header {
  display: flex;
  align-items: center;
}

.header img {
  width: 100px; /* Adjust the width to fit your photo */
  border-radius: 50%;
  margin-right: 20px;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.contact-links a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  padding: 8px 16px;
  margin-right: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.contact-links a:hover {
  background-color: #333;
  color: #fff;
}

.resume-section-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  align-items: center;
  margin-top: 10px;
}

.resume-section-content p {
  margin: 0;
  padding: 10px;
}

.resume-section {
  border: 2px solid #ccc; 
  padding: 10px;
  margin-bottom: 20px; 
}

.skills,
.resume-section-content p {
  text-align: center;
}

#theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

body.dark-mode {
  background-color: #333;
  color: #f1f1f1;
}
body.dark-mode .contact-links a {
  color: #fff;
}

body.dark-mode .container {
  background-color: #444;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}
